/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: black;
}

.hero {
    background-image: url('bookstore.png');
    background-size: cover;
    color: white;
    text-align: center;
    padding: 100px 0;
}

.books {
    padding: 50px 0;
    text-align: center;
}

.book {
    display: inline-block;
    margin: 20px;
    text-align: left;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}
